= link_to('Log Out', 'https://open.spotify.com/browse', class: "btn btn-sm bg-dark text-white float-right ml-2")
= link_to('Open Spotify', 'https://open.spotify.com/browse', class: "btn btn-sm bg-success text-white float-right")
