.container-fluid
  .row.no-gutter
    .col-md-8.col-lg-6
      .login.d-flex.align-items-center.py-5
        .container
          .row
            .col-md-9.col-lg-8.mx-auto.animated.fadeInUp.delay-3s
              %h3.login-heading.mb-2 🔥 Spice Up Your Playlists.
              %p.mb-2 Analysing spotify track audio features, add more energy, dancebility and tempo to your existing playlists.
              .row.m-0
                %small.text-muted.mt-0 A project by John Paul & Alan Biju.
              = link_to('Sign in with Spotify', '/auth/spotify', class: "btn-login btn btn-sm text-white text-uppercase font-weight-medium mt-4")
    .d-none.d-md-flex.col-md-4.col-lg-6.bg-image.animated.fadeIn.delay-2s
